.card {
  width: 28%;
  max-width: 380px;
  margin: 7px 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #79c8eb;
  list-style: none;
  transition: all .2s ease;
}

.card:focus,
.card:hover {
  box-shadow: 0 3px 11px 1px #a7ccf0; 
  transition: all .2s ease;
}

.card span {
  font-weight: bold;
}