.card {
  width: 28%;
  margin: 7px 5px;
  padding: 10px;
  border: 1px solid #ccc;
  list-style: none;
  transition: all .2s ease;
}

.card:focus,
.card:hover {
  box-shadow: 0 3px 11px 3px #ccced3;
  transition: all .2s ease;
}

.card span {
  font-weight: bold;
}