.filters-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

.filter-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.filter-title {
  font-weight: bold;
}

.filter-list {
  width: 300px;
  height: 150px;
  overflow: overlay;
  margin: 5px 20px;
  background-color: #fff;
}

.filter-item {
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px solid #f3f3f3;
  cursor: pointer;
  transition: all .2s ease;
}

.filter-item:focus,
.filter-item:hover {  
  color: #0ba2ea;
  transition: all .2s ease;
}