*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  background-color: #d9f1f8;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  padding: 20px 0 50px;
}

.main-wrapper {
  width: 80%;
  margin: 0 auto;
}